DATABASE_URL=
SESSION_SECRET=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
ADMIN_EMAILS=
OWNER_EMAIL=
RESEND_API_KEY=
EMAIL_FROM=
NEXT_PUBLIC_YAPE_NUMBER=
NEXT_PUBLIC_PLIN_NUMBER=
NEXT_PUBLIC_PAY_NAME=
NEXT_PUBLIC_API_URL=
